.invisible{
    display: none;
    /* in innerText sparisce il terzo (che ha il tag invisible) così come viene visualizzato nella pagina */
    /* con textContent non succede questo - non esegue il CSS */
}

.card{
    border: 1px solid crimson;
    padding: 8px;
    border-radius: 8px;
}

.green-background{
    background-color: greenyellow;
}

.card-2{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
    border: 2px groove rgb(226, 29, 226);
    border-radius: 10px;
    box-shadow: inset 0px 0px 4px 1px rgba(226, 29, 226);
    box-shadow: 0px 0px 3px 0px rgba(226, 29, 226); 
}

.pink-background{
    background-color: pink;
}


#cosmetic-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.switch{
    display: inline-block;
    width: 100px;
    height: 100px;
    border: none;
    background-color: darkslategray;
    box-shadow: 3px 3px 5px 3px rgba(0,0,0,0.2);
    /* https://box-shadow.dev/ - per prendere delle ombre di vari tipi */
    display: grid;
    place-items: center;
    font-size: 30px;
    color: white;
}


.on{

    background-color: chartreuse;
    color: black;
    box-shadow: inset 2px 2px 4px 1px rgba(0,0,0,0.2);
    /* box-shadow inset aggiunge effetto ombra all'interno. Effetto bottone premuto */

}


.bad{
     height: 150px;
     width: 150px;
     background-color: red;
}


/* --------------------------------------NINTENDO GAMES------------------------------------------------------------- */

/* VEDI REPOSITORY DEL PROF. - LE SUE CARD SONO PIù ELABORATE (TRUCCHI UTILI DA IMPARARE) */

.game-card{
    border: 3px inset rgb(163, 13, 13);
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    height: 550px;
    
}

.nintendo-background{
    background: #E30C0C;
    background: linear-gradient(90deg, rgba(227, 12, 12, 1) 50%, rgba(253, 29, 29, 1) 68%, rgba(242, 34, 34, 1) 82%, rgba(245, 219, 184, 1) 100%);
    /* background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/3524ba70148279.5e9e1a288e349.png); */
    /* 1. Specifica il percorso dell'immagine */
    background-repeat: no-repeat;
    /* 2. Assicura che l'immagine non si ripeta  */
    background-size: cover;
    /* 3. Fa in modo che l'immagine copra l'intero elemento */
    background-position: center;
    /* 4. Centra l'immagine nello sfondo */
    box-shadow: 10px 10px 30px 3px rgba(238, 56, 56, 0.432);
}

#game-container{
    display: flex;
    flex-direction: wrap;
    /* flex-wrap: wrap; */
    gap: 10px;
}

span{
    color: mintcream;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}