.invisible{
    display: none;
    /* in innerText sparisce il terzo (che ha il tag invisible) così come viene visualizzato nella pagina */
    /* con textContent non succede questo - non esegue il CSS */
}

.card{
    border: 1px solid crimson;
    padding: 8px;
    border-radius: 8px;
}

.card-2{
    border: 2px groove rgb(226, 29, 226);
    padding: 8px;
    border-radius: 10px;
}

.green-background{
    background-color: greenyellow;
}

.pink-background{
    background-color: pink;
}